<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Lora:400,700|Syncopate:700" rel="stylesheet">
  <style>
    body {
      background-image: url('https://mrzdqq.dm.files.1drv.com/y4msMtKraJ9vPnPJxgq_K_3cHDNN5BSIPg8Td_KLqlpiLYiJtvILxadPt6q0Dcnx4thWk0SW7d49JLzfnFMlgVGEQl3xT2_jKkjBUfVgqtwzHQSTwRNxPHt1M90GToNHB0x_l_EtLMelGbeADueYYGo5q_B96RKWYC5W-gxfuZxVNM4vVMnRRYF-SCLDjqSvoItPsm3hEeihFf1wG-wxf4wug?width=1600&height=900&cropmode=none');
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 0;
      background-color: black!important;
    }
  </style>
</head>
  <body>
    <% if (htmlWebpackPlugin.options.appMountId) { %>
      <div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
    <% } %>
  </body>
</html>
