.btn-custom {
  border-radius: 1px;
  border: 1px solid rgb(196, 179, 179);
  color: rgb(196, 179, 179);
  background-color: black;
  font-family: 'Lora', sans-serif;
  font-weight: 700;
}

.btn-custom:hover {
  background-color: rgba(206, 121, 23, 0.7);
  border: 1px solid rgb(196, 179, 179);
}