@import url('https://fonts.googleapis.com/css?family=Syncopate:700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');

.btn-custom {
  border-radius: 1px;
  border: 1px solid rgb(196, 179, 179);
  color: rgb(196, 179, 179);
  background-color: black;
  font-family: 'Lora', sans-serif;
  font-weight: 700;
}

.btn-custom:hover {
  background-color: rgba(206, 121, 23, 0.7);
  border: 1px solid rgb(196, 179, 179);
}

.ml12 {
  letter-spacing: 0.3em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.badge-success {
  background-color: rgb(25, 173, 187);
}

.badge-danger {
  background-color: rgb(202, 76, 99);
}

.badge-warning {
  background-color: rgb(255, 206, 71);
  color: rgb(255, 255, 255);
}

.text-default {
  color: rgb(196, 179, 179);
}

.text-danger {
  color: rgb(202, 76, 99)!important;
}

.text-secondary {
  color: rgb(25, 173, 187)!important;
}

.table-headers:hover {
  cursor: pointer;
}

.background-sale {
  background-color: rgba(194, 116, 28, 0.8);
}